@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/fonts/Roboto-Thin.woff2) format("woff2");
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/Roboto-Light.woff2) format("woff2");
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto-Regular.woff2) format("woff2");
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/fonts/Roboto-Medium.woff2) format("woff2");
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/fonts/Roboto-Bold.woff2) format("woff2");
  }

  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/fonts/Roboto-Black.woff2) format("woff2");
  }

  html {
    @apply scroll-smooth  
    [&::-webkit-scrollbar]:w-3
    [&::-webkit-scrollbar-thumb]:rounded-full
    [&::-webkit-scrollbar-thumb]:bg-neutral-300;
    --theme-bg: 0deg 0% 98%;
    --theme-link: 172deg 18% 41%;
    --theme-text: 203deg 11% 15%;
    --theme-accent: 340deg 63% 52%;
    --theme-accent-2: 170deg 50% 35%;
    --theme-quote: 351deg 66% 48%;
    --theme-header: 337deg 88% 68%;
    --theme-header-2: 275deg 48 39%;
  }

  /* text-slate-900; */
  /* text-slate-50; */
  /*DAN --theme-bg: 222deg 14% 18%; */

  /* --theme-accent: 330deg 81% 59%; */
  html.dark {
    @apply scroll-smooth [&::-webkit-scrollbar-thumb]:bg-neutral-600;
    --theme-bg: 222deg 14% 18%;
    --theme-link: 330deg 49% 67%;
    --theme-text: 0deg 0% 88%;
    --theme-accent: 340deg 100% 83%;
    --theme-accent-2: 170deg 78% 55%;
    --theme-quote: 102deg 100% 86%;
    --theme-header: 332deg 97% 85%;
    --theme-header-2: 248deg 100 86%;
  }

  body {
    @apply container flex min-h-svh flex-col items-center relative max-w-4xl mx-auto lg:px-0 text-textColor bg-bgColor;
  }

  main {
    @apply flex-1 flex flex-col gap-4 pt-5 px-8;
  }

  .prose a {
    @apply text-accent opacity-80;
  }
  .prose a:hover {
    @apply opacity-100;
  }

  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-base group-hover:fill-accent;
  }
}
