---
import BaseLayout from '@layouts/BaseLayout.astro';
import Contact from '@components/Contact.tsx';

const RECAPTCHA_KEY = import.meta.env.PUBLIC_RECAPTCHA_KEY;
---

<BaseLayout title="Contacto">
  <main transition:name={'pages'}>
    <h1 class="title">
      Formulario de <span class="title-bold">contacto</span>
    </h1>
    <p>
      Para cualquier duda o consulta, no dudes en ponerte en contacto conmigo.
      Puedes hacerlo a través de este formulario o directamente por correo
      electrónico a
      <a class="text-accent opacity-80" href="mailto:contact@jbalibrea.dev"
        >contact@jbalibrea.dev</a
      >.
    </p>
    <Contact client:only="react" siteKey={RECAPTCHA_KEY} />
  </main>
</BaseLayout>
