---
import Contact from '@components/Contact.tsx';
import LinkWithArrow from '@components/LinkWithArrow.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

const RECAPTCHA_KEY = import.meta.env.PUBLIC_RECAPTCHA_KEY;
---

<BaseLayout title="Contacto">
  <main transition:name={'pages'}>
    <h1 class="title">
      Formulario de <span class="title-bold">contacto</span>
    </h1>
    <div class="flex flex-1 items-center justify-center">
      <div class="flex flex-wrap gap-8 max-w-6xl w-full">
        <div class="w-full md:w-1/3">
          <p class="max-w-prose text-sm">
            Si has llegado hasta aquí, probablemente quieras ponerte en contacto
            conmigo. Suelo responder lo antes posible —<i
              >a veces incluso más rápido de lo que imaginas</i
            >
            <span role="img" aria-label="wink">😉</span>
            —. Puedes escribirme directamente a través del formulario o, si lo prefieres,
            por correo electrónico a
            <LinkWithArrow arrow={false} href="mailto:contact@jbalibrea.dev">
              contact@jbalibrea.dev
            </LinkWithArrow>.
          </p>
        </div>
        <div class="flex-1 w-full md:w-2/3 text-xl">
          <Contact client:only="react" siteKey={RECAPTCHA_KEY} />
        </div>
      </div>
    </div>
  </main>
</BaseLayout>
