---
import PostCard from '@/components/PostCard.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const allPosts = await getCollection('posts');

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag: any) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={tag}>
  <main transition:name={'pages'}>
    <h1 class="text-2xl text-current">
      Bienvenido a mi <span class="font-bold tracking-tight">
        Blog personal</span
      >
    </h1>
    <p>Filtrando artículos por <strong>{tag}</strong></p>
    <article class="flex flex-col gap-4 max-w-lg">
      {posts.map((post) => <PostCard post={post} />)}
    </article>
  </main>
</BaseLayout>
