---
import { getCollection } from 'astro:content';
import PostCard from '../components/PostCard.astro';
import HomeLayout from '../layouts/HomeLayout.astro';
const allPosts = (await getCollection('posts')).sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);

const title = 'Blog de Desarrollo Web y Tecnología - jbalibrea.dev';
const description =
  'Artículos de Jorge Balibrea sobre desarrollo web, diseño y tecnología - jbalibrea.dev';
---

<HomeLayout title={title} description={description}>
  <main>
    <h1 class="text-2xl text-current">
      Bienvenido a mi <span class="font-bold tracking-tight">
        Blog personal</span
      >
    </h1>
    <p class="text-lg text-current">
      En este blog comparto mis experiencias, tutoriales y recursos útiles que
      he recopilado. ¡Espero que encuentres el contenido útil e inspirador!
    </p>
    <article class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {allPosts.map((post) => <PostCard post={post} />)}
    </article>
  </main>
</HomeLayout>
