---
import { getCollection } from "astro:content";
import BlogPost from "../components/BlogPost.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
const allPosts = await getCollection("posts");
---

<HomeLayout title="Blogs - jbalibrea.dev">
  <main class="flex flex-col gap-8 pt-5 px-8 pb-32" transition:name={"test"}>
    <h1 class="text-2xl text-current">
      Bienvenido a mi <span class="font-bold tracking-tight"> Blog</span>
    </h1>
    <ul>
      {
        allPosts.map((post) => (
          <BlogPost url={`/posts/${post.slug}/`} title={post.data.title} />
        ))
      }
    </ul>
  </main>
</HomeLayout>
