---
import AboutMe from '@/components/AboutMe.astro';
import TimeLine from '@/components/TimeLine.astro';
import Projects from '@components/Projects.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout title="Jorge Balibrea Portfolio">
  <main transition:name={'pages'}>
    <AboutMe />
    <Projects />
    <TimeLine />
  </main>
</BaseLayout>
