---
import PostList from '@components/PostList.astro';
import { SITE } from '@config';
import BaseLayout from '@layouts/BaseLayout.astro';
import getShortedPosts from '@utils/getSorterPosts';
import { getCollection } from 'astro:content';
const posts = await getCollection('posts');
const sortedPosts = getShortedPosts(posts);
const page1Posts = sortedPosts.slice(0, SITE.archivePostsPerPage);

const title = 'Blog';
const description = "Blog's archivados del blog de jbalibrea.dev";
---

<BaseLayout title={title} description={description}>
  <PostList pagePosts={page1Posts}>
    {
      sortedPosts.length > SITE.archivePostsPerPage && (
        <div class="mt-8">
          <a
            href="/blog/archive/2"
            class="text-accent hover:text-accent-2 transition-colors"
          >
            Ver más archivados →
          </a>
        </div>
      )
    }
  </PostList>
</BaseLayout>
