---
import jorge from '@/assets/jorge-wo-bg.png';
import Greeting from '@/components/Greeting.astro';
import { Image } from 'astro:assets';
---

<div
  class="flex flex-col-reverse sm:flex-row items-center sm:items-start gap-4 sm:gap-16 pb-8 pt-4"
>
  <div class="flex flex-col gap-4 justify-start items-start flex-1">
    <Greeting />
    <h2 class="text-lg">
      <strong class="text-slate-800 dark:text-white"
        >Desarrollador web full stack</strong
      > de Murcia, España.
    </h2>
    <p>
      Tengo experiencia con el stack MERN (MongoDB, Express, React, Node.js) así
      como JavaScript, SQL, Laravel.
    </p>
    <div class="relative overflow-hidden group inline-block">
      <span class="invisible">Disponible para trabajarcontáctame</span>
      <span
        class="font-bold tracking-tight text-accent absolute top-0 left-0 group-hover:-translate-y-full transition-transform ease-in-out duration-500 hover:duration-300 underline decoration-dotted underline-offset-4"
        >💼 Disponible para trabajar
      </span>
      <span
        class="font-bold tracking-tight absolute top-0 left-0 translate-y-full group-hover:translate-y-0 transition-transform ease-in-out duration-500 hover:duration-300"
      >
        <a
          href="mailto:jorge.balibrea1@gmail.com"
          class="inline-flex items-center px-2 text-sm font-medium text-accent bg-white border border-gray-200 rounded-lg hover:bg-gray-100 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-purple-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-pink-100 dark:hover:text-pink-300 dark:border-gray-600 dark:focus:ring-gray-700 group transition duration-300 ease-in-out"
          >jorge.balibrea1@gmail.com
          <svg
            class="w-4 ms-2 transition duration-75 ease-in group-hover:scale-125"
            viewBox="-0.5 0 25 25"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            ><g stroke-width="0"></g><g stroke-linecap="round">
              <path
                d="M9.00977 21.39H19.0098C20.0706 21.39 21.0881 20.9685 21.8382 20.2184C22.5883 19.4682 23.0098 18.4509 23.0098 17.39V7.39001C23.0098 6.32915 22.5883 5.31167 21.8382 4.56152C21.0881 3.81138 20.0706 3.39001 19.0098 3.39001H7.00977C5.9489 3.39001 4.93148 3.81138 4.18134 4.56152C3.43119 5.31167 3.00977 6.32915 3.00977 7.39001V12.39"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M1.00977 18.39H11.0098"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M1.00977 15.39H5.00977"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M22.209 5.41992C16.599 16.0599 9.39906 16.0499 3.78906 5.41992"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g></svg
          >
        </a>
      </span>
    </div>
    <p class="text-sm">
      Apasionado por la tecnología y el desarrollo web, en busca de nuevos
      retos.
    </p>
    <div class="flex items-center gap-8 flex-wrap">
      <div class="flex gap-2 items-center">
        <a
          href="https://www.linkedin.com/in/jbalibrea/"
          target="_blank"
          rel="noopener"
        >
          <span class="sr-only">LinkedIn</span>
          <svg viewBox="0 0 128 128" class="w-8 opacity-90 hover:opacity-100">
            <path
              class="fill-current"
              d="M116 3H12a8.91 8.91 0 00-9 8.8v104.42a8.91 8.91 0 009 8.78h104a8.93 8.93 0 009-8.81V11.77A8.93 8.93 0 00116 3z"
            ></path><path
              class="fill-white dark:fill-black"
              d="M21.06 48.73h18.11V107H21.06zm9.06-29a10.5 10.5 0 11-10.5 10.49 10.5 10.5 0 0110.5-10.49M50.53 48.73h17.36v8h.24c2.42-4.58 8.32-9.41 17.13-9.41C103.6 47.28 107 59.35 107 75v32H88.89V78.65c0-6.75-.12-15.44-9.41-15.44s-10.87 7.36-10.87 15V107H50.53z"
            ></path>
          </svg>
        </a>
        <a href="https://github.com/jbalibrea1" target="_blank" rel="noopener">
          <span class="sr-only">GitHub</span>
          <svg viewBox="0 0 128 128" class="w-8 opacity-90 hover:opacity-100">
            <g fill="currentColor"
              ><path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M64 5.103c-33.347 0-60.388 27.035-60.388 60.388 0 26.682 17.303 49.317 41.297 57.303 3.017.56 4.125-1.31 4.125-2.905 0-1.44-.056-6.197-.082-11.243-16.8 3.653-20.345-7.125-20.345-7.125-2.747-6.98-6.705-8.836-6.705-8.836-5.48-3.748.413-3.67.413-3.67 6.063.425 9.257 6.223 9.257 6.223 5.386 9.23 14.127 6.562 17.573 5.02.542-3.903 2.107-6.568 3.834-8.076-13.413-1.525-27.514-6.704-27.514-29.843 0-6.593 2.36-11.98 6.223-16.21-.628-1.52-2.695-7.662.584-15.98 0 0 5.07-1.623 16.61 6.19C53.7 35 58.867 34.327 64 34.304c5.13.023 10.3.694 15.127 2.033 11.526-7.813 16.59-6.19 16.59-6.19 3.287 8.317 1.22 14.46.593 15.98 3.872 4.23 6.215 9.617 6.215 16.21 0 23.194-14.127 28.3-27.574 29.796 2.167 1.874 4.097 5.55 4.097 11.183 0 8.08-.07 14.583-.07 16.572 0 1.607 1.088 3.49 4.148 2.897 23.98-7.994 41.263-30.622 41.263-57.294C124.388 32.14 97.35 5.104 64 5.104z"
              ></path><path
                d="M26.484 91.806c-.133.3-.605.39-1.035.185-.44-.196-.685-.605-.543-.906.13-.31.603-.395 1.04-.188.44.197.69.61.537.91zm2.446 2.729c-.287.267-.85.143-1.232-.28-.396-.42-.47-.983-.177-1.254.298-.266.844-.14 1.24.28.394.426.472.984.17 1.255zM31.312 98.012c-.37.258-.976.017-1.35-.52-.37-.538-.37-1.183.01-1.44.373-.258.97-.025 1.35.507.368.545.368 1.19-.01 1.452zm3.261 3.361c-.33.365-1.036.267-1.552-.23-.527-.487-.674-1.18-.343-1.544.336-.366 1.045-.264 1.564.23.527.486.686 1.18.333 1.543zm4.5 1.951c-.147.473-.825.688-1.51.486-.683-.207-1.13-.76-.99-1.238.14-.477.823-.7 1.512-.485.683.206 1.13.756.988 1.237zm4.943.361c.017.498-.563.91-1.28.92-.723.017-1.308-.387-1.315-.877 0-.503.568-.91 1.29-.924.717-.013 1.306.387 1.306.88zm4.598-.782c.086.485-.413.984-1.126 1.117-.7.13-1.35-.172-1.44-.653-.086-.498.422-.997 1.122-1.126.714-.123 1.354.17 1.444.663zm0 0"
              ></path></g
            >
          </svg>
        </a>
      </div>
    </div>
  </div>
  <Image
    src={jorge}
    class="rounded-full w-24 aspect2-[0.67] sm:w-40 shadow-md bg-gray-200 dark:bg-zinc-800 border-accent-2 border-"
    alt="Jorge Balibrea - Imagen de perfil"
  />
</div>
