---
import Greeting from "../components/Greeting.astro";
---

<div>
  <Greeting />
  <p class="text-lg text-current">
    A web developer fullstack from Murcia, Spain. I have experience with React,
    Express, MongoDB, MySQL, Laravel and other technologies.
  </p>
  <p class="text-lg text-current">
    I love facing new challenges, learning new things every day and improving my
    skills.
  </p>
</div>
