---

---

<button
  aria-label="Back to Top"
  class="helpers fixed bottom-4 flex translate-y-28 items-center justify-center text-3xl opacity-0 data-[show=true]:translate-y-0 data-[show=true]:opacity-100 text-xs"
  data-show="false"
  id="to-top-btn"
  ><svg
    aria-hidden="true"
    class="h-6 w-6"
    fill="none"
    focusable="false"
    stroke="currentColor"
    stroke-width="2"
    viewBox="0 0 24 24"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M4.5 15.75l7.5-7.5 7.5 7.5"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</button>
<script is:inline>
  function scrollSetup() {
    const toTopBtn = document.getElementById('to-top-btn');
    const nav = document.getElementById('scrollable-nav');
    if (!toTopBtn || !nav) return;

    const showToTop = document.documentElement.scrollHeight > 1000;

    toTopBtn.addEventListener('click', () => {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    });

    let lastScrollTop = 0;

    window.addEventListener('scroll', () => {
      const curr = window.scrollY;
      const atTop = curr <= 20;
      const goingUp = curr < lastScrollTop;
      const showBtn = showToTop && curr > 20 && goingUp && curr > 300;
      const showNav = curr < 300 || goingUp || atTop || !showToTop;

      toTopBtn.dataset.show = showBtn ? 'true' : 'false';
      nav.dataset.show = showNav ? 'true' : 'false';
      nav.classList.toggle('not-top', !atTop);

      lastScrollTop = curr;
    });
  }
  scrollSetup();

  document.addEventListener('astro:after-swap', scrollSetup);
</script>
