---
import type { ButtonProps as Props } from '@/interfaces/ButtonProps';

const { text, href, target = '_self' } = Astro.props;
---

<a
  href={href}
  target={target}
  class="inline-flex items-center px-4 py-2 text-sm font-medium bg-bg-color-2 hover:bg-bg-color/20 border border-gray-200 rounded-lg text-accent/90 hover:text-accent focus:z-10 focus:ring-4 focus:outline-hidden focus:ring-gray-100 focus:text-accent dark:border-gray-600 dark:focus:ring-gray-700 group transition duration-300 ease-in-out hover:scale-[1.02] whitespace-nowrap"
  >{text}
  <slot />
</a>
