---
const currentYear = new Date().getFullYear();
---

<footer
  class="flex flex-col sm:flex-row justify-between items-center text-gray-900 dark:text-white py-4 pt-12 text-base min-w-full gap-2 font-light tracking-wider px-8"
>
  <div class="flex space-x-1">
    <span> Jorge Balibrea - {currentYear}</span>
  </div>
  <p>Creado con Astro + Tailwind</p>
</footer>
