---
const currentYear = new Date().getFullYear();
---

<footer
  class="flex flex-col sm:flex-row justify-between items-center text-gray-900 dark:text-white p-4 text-base min-w-full gap-2 font-light pt-8"
>
  <div class="flex space-x-1">
    <h2>Jorge Balibrea</h2>
    <span> - {currentYear}</span>
  </div>
  <p>Creado con Astro + Tailwind</p>
</footer>
