---
const currentYear = new Date().getFullYear();
---

<footer
  class="flex justify-between items-center text-gray-900 dark:text-white p-4 text-sm md:text-base absolute bottom-0 min-w-full"
>
  <div class="flex space-x-1">
    <h2>Jorge Balibrea</h2>
    <span> - {currentYear}</span>
  </div>
  <p>🚀Build with Astro + Tailwind CSS</p>
</footer>
