---
import { githubProjects } from "../data/githubProjects";
import type { Github } from "../types/Github";
---

{
  githubProjects.map((repo: Github) => (
    <article class="w-full  text-neutral-200 drop-shadow-md ">
      <div class="group relative grid overflow-hidden rounded-xl px-4 py-5 shadow-[0_1000px_0_0_hsl(0_0%_20%)_inset] transition-colors duration-200">
        <span>
          <span class="spark mask-gradient animate-flip before:animate-rotate absolute inset-0 h-[100%] w-[100%] overflow-hidden rounded-xl [mask:linear-gradient(white,_transparent_50%)] before:absolute before:aspect-square before:w-[200%] before:rotate-[-90deg] before:bg-[conic-gradient(from_0deg,transparent_0_340deg,white_360deg)] before:content-[''] before:[inset:0_auto_auto_50%] before:[translate:-50%_-15%]" />
        </span>
        <span class="backdrop absolute inset-px rounded-[11px] bg-neutral-950  transition-colors duration-200" />
        <div class="space-y-2 z-10">
          <h2 class="font-bold">
            <a
              href={repo.url}
              target="_blank"
              class="hover:underline decoration-dotted"
            >
              {repo.name}
            </a>
          </h2>
          <p class="text-sm">
            {repo.description ? repo.description : "Sin descripción"}
          </p>
          {repo.tags.map((tag) => (
            <div class="relative inline-flex overflow-hidden rounded-full p-px">
              <span class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#c2c2c2_0%,#505050_50%,#bebebe_100%)]" />
              <span class="inline-flex h-full w-full items-center justify-center rounded-full bg-slate-900 px-3 py-1 text-xs font-medium  text-neutral-200 backdrop-blur-3xl">
                {tag}
              </span>
            </div>
          ))}

          <p class="text-xs">{repo.created_at}</p>
        </div>
      </div>
    </article>
  ))
}
