---
const messages = ["Hi", "Hello", "Howdy", "Hey there"];
const randomMessage = () =>
  messages[Math.floor(Math.random() * messages.length)];
const msg = randomMessage();
---

<p class="text-2xl text-current">
  👋 {msg}! I'm <span class="font-bold tracking-tight">Jorge Balibrea</span>
</p>
<div class="relative overflow-hidden group">
  <span class="invisible">Open to work</span>
  <span
    class="font-bold tracking-tight absolute top-0 left-0 group-hover:-translate-y-full transition-transform ease-in-out duration-500 hover:duration-300 underline decoration-dashed underline-offset-2"
  >
    Open to work
  </span>
  <span
    class="font-bold tracking-tight absolute top-0 left-0 translate-y-full group-hover:translate-y-0 transition-transform ease-in-out duration-500 hover:duration-300"
  >
    <a
      href="mailto:jorge.balibrea1@gmail.com"
      class="inline-flex items-center px-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-gray-100 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700 group transition duration-75 ease-in"
      >jorge.balibrea1@gmail.com

      <svg
        class="w-4 ms-2 transition duration-75 ease-in group-hover:scale-125"
        viewBox="-0.5 0 25 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        ><g stroke-width="0"></g><g stroke-linecap="round">
          <path
            d="M9.00977 21.39H19.0098C20.0706 21.39 21.0881 20.9685 21.8382 20.2184C22.5883 19.4682 23.0098 18.4509 23.0098 17.39V7.39001C23.0098 6.32915 22.5883 5.31167 21.8382 4.56152C21.0881 3.81138 20.0706 3.39001 19.0098 3.39001H7.00977C5.9489 3.39001 4.93148 3.81138 4.18134 4.56152C3.43119 5.31167 3.00977 6.32915 3.00977 7.39001V12.39"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M1.00977 18.39H11.0098"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M1.00977 15.39H5.00977"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M22.209 5.41992C16.599 16.0599 9.39906 16.0499 3.78906 5.41992"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g></svg
      >
    </a>
  </span>
</div>
