---
import ThemeIcon from './ThemeIcon.astro';
const { sticky = true } = Astro.props;
---

<header
  class={`top-0 backdrop-blur-md bg-bgColor/60 z-50 w-full px-8 ${sticky ? 'sticky' : ''}`}
>
  <nav
    class="flex py-3 justify-between items-center max-w-4xl text-lg font-bold tracking-tight"
  >
    <a
      href="/"
      class="opacity-90 hover:opacity-100 transition-opacity bg-clip-text bg-gradient-to-r from-header-2 to-header text-transparent"
      >jbalibrea.dev</a
    >
    <div class="flex gap-8 items-center">
      <div class="uppercase opacity-90 hover:opacity-100 transition-opacity">
        <a href="/blog">Blog</a>
      </div>
      <ThemeIcon />
    </div>
  </nav>
</header>
