---
import type { PageProps as Props } from '@/interfaces/PageProps';
import { cn } from '@/lib/utils';
import LinkButton from './LinkButton.astro';

const { page }: Props = Astro.props;
const baseSvgClass =
  'inline-block h-6 w-6 fill-current group-hover:fill-accent-2 hover:fill-accent-2';
---

{
  page.lastPage > 1 && (
    <nav class="mb-8 mt-auto flex justify-center" aria-label="Pagination">
      <LinkButton
        disabled={!page.url.prev}
        href={page.url.prev as string}
        className={cn('mr-4 select-none', !page.url.prev && 'disabled')}
        ariaLabel="Anterior"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class={cn(baseSvgClass, !page.url.prev && 'group-hover:!fill-accent')}
        >
          <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
        </svg>
        Anterior
      </LinkButton>
      {page.currentPage} / {page.lastPage}
      <LinkButton
        disabled={!page.url.next}
        href={page.url.next as string}
        className={cn('mx-4 select-none', !page.url.next && 'disabled')}
        ariaLabel="Siguiente"
      >
        Siguiente
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class={cn(baseSvgClass, !page.url.next && 'group-hover:!fill-accent')}
        >
          <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
        </svg>
      </LinkButton>
    </nav>
  )
}
