---
import ButtonWithArrow from './ButtonWithArrow.astro';
import { GitCard } from './GitCard';
import LastProject from './LastProject.astro';
---

<article>
  <div
    class="mb-4 flex flex-col sm:flex-row flex-wrap justify-between md:items-end gap-4"
  >
    <div>
      <h3 class="font-light text-4xl">Proyectos</h3>
    </div>
    <div class="flex justify-end items-center">
      <ButtonWithArrow href="/repositories" text="Ver más repositorios" />
    </div>
  </div>
  <div class="flex flex-col gap-2">
    <GitCard client:load latest={true} />
  </div>
</article>

<LastProject />
