---
//m-auto !max-w-2xl
---

<div
  class="prose max-w-none3 m-auto dark:prose-invert
  prose-h1:font-extrabold prose-h1:text-5xl prose-h1:tracking-tight prose-h2:text-xl prose-h3:text-base prose-h4:text-sm
  prose-a:text-blue-600 dark:prose-a:text-blue-300 prose-p:text-justify prose-img:rounded-xl"
>
  <slot />
</div>
