<div
  class="prose dark:prose-invert
  prose-h1:font-extrabold prose-h1:text-5xl md:prose-h1:text-7xl prose-h1:tracking-tighter prose-h2:text-3xl prose-h3:text-base prose-h4:text-sm
  prose-a:text-pink-600 dark:prose-a:text-pink-500 prose-img:rounded-xl"
>
  <slot />
</div>
