---
//m-auto !max-w-2xl
---

<div
  class="prose lg:prose-lg max-w-none3 m-auto dark:prose-invert
  prose-h1:font-bold prose-h1:text-xl prose-h2:text-lg prose-h3:text-base prose-h4:text-sm
  prose-a:text-blue-600 dark:prose-a:text-blue-300 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline"
>
  <slot />
</div>
