<div
  class="prose dark:prose-invert
  prose-h1:font-extrabold prose-h1:text-5xl md:prose-h1:text-7xl prose-h1:tracking-tighter prose-h2:text-3xl prose-h3:text-base prose-h4:text-sm prose-p:text-text-color! prose-p:font-normal m-auto font-poppins prose-headings:font-sans w-full"
>
  <slot />
</div>
