---
const { tag, text = 'xs', label } = Astro.props;
---

<a
  href={`/blog/tags/${tag}`}
  class=`text-${text} font-medium bg-bg-color-2 text-accent-2/80 hover:text-accent-2 px-2 py-1 rounded-md transition duration-300 ease-in-out hover:scale-[1.05]`
>
  {label ? label : `#${tag}`}
</a>
