---
import Button from './Button.astro';
---

<div>
  <h2 class="font-bold tracking-tight text-accent text-3xl mt-8 mb-4">
    Experiencia y Educación
  </h2>
  <ol class="relative border-s border-gray-300 dark:border-gray-700 max-w-xl">
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-accent-2 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-700 dark:text-slate-300"
        >Marzo 2024 - Junio 2024</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Desarrollador Web - JNC Informática 360
      </h3>
      <p class="mb-4 text-base font-normal text-gray-800 dark:text-slate-200">
        Desarrollo de aplicaciones web centradas en empresas, utilizando React y
        MUI, integradas con a3erp. Implementación de buenas prácticas de
        programación, arquitectura limpia, mantenible y trabajo en equipo.
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-700 dark:text-slate-300"
        >Septiembre 2022 - Marzo 2024</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Técnico Superior en Desarrollo de Aplicaciones Web (DAW)
      </h3>
      <p class="text-base font-normal text-gray-800 dark:text-slate-200">
        Adquirí sólidos conocimientos en desarrollo web utilizando tecnologías
        como React, JavaScript, SQL, Laravel, PHP, Angular y Java. Además,
        reforcé habilidades en administración de sistemas Linux y fundamentos de
        redes.
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-700 dark:text-slate-300"
        >Noviembre 2023</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        CS50 Introduction to Computer Science - Harvard University
      </h3>
      <p class="mb-4 text-base font-normal text-gray-800 dark:text-slate-200">
        Este curso me permitió comprender los principios fundamentales de la
        programación y el desarrollo de software. Trabajé con lenguajes como C,
        Python, y JavaScript, además de tecnologías como Flask y SQL. También
        adquirí habilidades en algoritmos y estructuras de datos, aplicando
        estos conceptos en diversos proyectos.
      </p>
      <Button
        text="Ver Certificado"
        href="https://cs50.harvard.edu/certificates/3d787326-fdb2-42c6-acaa-ba67a0bb4e3a"
        target="_blank"
      >
        <svg
          class="w-3 h-3 ms-2 group-hover:scale-x-125"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg>
      </Button>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-700 dark:text-slate-300"
        >Septiembre 2022</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Full Stack Open - University of Helsinki
      </h3>
      <p class="mb-4 text-base font-normal text-gray-800 dark:text-slate-200">
        Este curso me permitió especializarme en desarrollo web, abarcando tanto
        el frontend como el backend. Adquirí experiencia en tecnologías clave
        como React, Node.js, Express, MongoDB, GraphQL, TypeScript y React
        Native, aplicando estos conocimientos en proyectos completos y
        desafiantes.
      </p>
      <Button
        text="Ver Certificado"
        href="https://studies.cs.helsinki.fi/stats/api/certificate/fullstackopen/en/da07f9fc0b1776ed6ca619e7b88b60a0"
        target="_blank"
      >
        <svg
          class="w-3 h-3 ms-2 group-hover:scale-x-125"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg>
      </Button>
    </li>
    <li class="ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <p
        class="mb-1 text-sm font-normal leading-none text-gray-700 dark:text-slate-300"
      >
        Tiempo atrás...
      </p>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        "El comienzo de mi viaje - The Beginning of My Journey"
      </h3>
      <p class="text-base font-normal text-gray-800 dark:text-slate-200">
        Inicié mi camino en la programación tras completar el CP en Confección y
        Publicación de Páginas Web, donde aprendí JavaScript, HTML y CSS. Al
        finalizarlo con éxito, realicé prácticas y comencé mi carrera
        profesional en una empresa especializada en desarrollo con WordPress.
        Durante este tiempo, seguí perfeccionando mis habilidades mediante
        cursos en freeCodeCamp.
      </p>
    </li>
  </ol>
</div>
