---
import Button from "./Button.astro";
---

<div>
  <h2 class="font-bold tracking-tight text-current text-3xl mt-8 mb-4">
    Experiencia y Educación
  </h2>
  <ol class="relative border-s border-gray-300 dark:border-gray-700 max-w-xl">
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-amber-400 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-amber-400"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-700 dark:text-slate-300"
        >Marzo 2024 - Junio 2024</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Desarrollador Web - JNC Informática 360
      </h3>
      <p class="mb-4 text-base font-normal text-gray-800 dark:text-slate-200">
        Desarrollo de aplicaciones web centradas en empresas, utilizando React y
        MUI, integradas con a3erp. Buenas prácticas de programación,
        arquitectura limpia y mantenible, y trabajo en equipo.
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-700 dark:text-slate-300"
        >Septiembre 2022 - Marzo 2024</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Grado superior en Desarrollo de Aplicaciones Web (DAW)
      </h3>
      <p class="text-base font-normal text-gray-800 dark:text-slate-200">
        Completado el ciclo formativo de grado superior en Desarrollo de
        Aplicaciones Web (DAW). He aprendido mucho sobre desarrollo web y he
        adquirido conocimientos en tecnologías como React, Vue, Angular, Linux,
        MySQL, Laravel, PHP, JavaScript, entre otras. Además, profundicé en
        fundamentos de Linux y redes.
      </p>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-700 dark:text-slate-300"
        >Noviembre 2023</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        CS50 Introduction to Computer Science - Harvard University
      </h3>
      <p class="mb-4 text-base font-normal text-gray-800 dark:text-slate-200">
        Completé el curso CS50, donde adquirí conocimientos fundamentales sobre
        programación. Me alegra haber dominado tecnologías como C, Python,
        Flask, SQL, JavaScript, así como algoritmos y estructuras de datos.
      </p>
      <Button
        text="Ver Certificado"
        href="https://cs50.harvard.edu/certificates/3d787326-fdb2-42c6-acaa-ba67a0bb4e3a"
        target="_blank"
      >
        <svg
          class="w-3 h-3 ms-2 rtl:rotate-180 transition ease-in-out group-hover:scale-x-125"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg>
      </Button>
    </li>
    <li class="mb-10 ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-700 dark:text-slate-300"
        >Septiembre 2022</time
      >
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Full Stack Open - University of Helsinki
      </h3>
      <p class="mb-4 text-base font-normal text-gray-800 dark:text-slate-200">
        Impulsado por mi deseo de profundizar mis conocimientos en desarrollo
        web, me embarqué en este curso. Estoy emocionado de haberlo completado y
        haber obtenido valiosos conocimientos en tecnologías como React,
        Node.js, MongoDB, GraphQL, TypeScript, entre otras.
      </p>
      <Button
        text="Ver Certificado"
        href="https://studies.cs.helsinki.fi/stats/api/certificate/fullstackopen/en/da07f9fc0b1776ed6ca619e7b88b60a0"
        target="_blank"
      >
        <svg
          class="w-3 h-3 ms-2 rtl:rotate-180 transition ease-in-out group-hover:scale-x-125"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 14 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"></path>
        </svg>
      </Button>
    </li>
    <li class="ms-4">
      <div
        class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
      >
      </div>
      <p
        class="mb-1 text-sm font-normal leading-none text-gray-700 dark:text-slate-300"
      >
        Tiempo atrás
      </p>
      <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        "El comienzo de mi viaje - The Beginning of My Journey"
      </h3>
      <p class="text-base font-normal text-gray-800 dark:text-slate-200">
        Comencé mi camino en la programación al completar un curso fundamental
        sobre JavaScript, HTML y CSS. Después de finalizar con éxito el curso,
        realicé prácticas y posteriormente inicié mi carrera profesional en una
        empresa especializada en desarrollo de WordPress. Mientras trabajaba,
        también continué mejorando mis habilidades mediante cursos en
        freeCodeCamp.
      </p>
    </li>
  </ol>
</div>
